{:db/id #db/id[:db.part/db]
 :db/ident :todo/title
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :todo/description
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :todo/complete
 :db/valueType :db.type/boolean
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}
